*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1.7rem 0;
  background: #cbcbcb;
}

.person {
  width: 30rem;

  margin-inline: auto;

  border-radius: 50%;
  transition: transform 500ms ease;
}

.person-conteiner {
  position: relative;
  border-radius: 0 0 100vw 100vw;

  display: grid;
  align-items: end;

  overflow: hidden;

  aspect-ratio: 1 / 1.1;
}

img {
  width: 100%;
  display: block;
}

.person-bg {
  position: absolute;

  object-fit: cover;

  border-radius: 50%;

  aspect-ratio: 1 / 1;
}

.person-img {
  position: relative;
  bottom: -10%;
  z-index: 2;

  filter: grayscale(1);
  transition: transform 500ms ease, filter 500ms ease-in;
}

.person:hover {
  transform: scale(1.1);
  filter: none;
}

.person:hover .person-img {
  filter: none;
  transform: translateY(-10%);
}

.info {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 25%;

  margin-inline: auto;
  padding-top: 5rem;
}

.info .btn {
  background: linear-gradient(#e66465, #9198e5);
  color: black;
  text-decoration: none;

  border: 1px solid #e66465;
  border-radius: 1rem;
  padding: 1%;
  transition: transform 200ms ease;
}

.btn:hover {
  background: linear-gradient(#e34c4c, #757ee5);
  transform: scale(1.1);
}

.btn:focus {
  border: none;
  outline: 4px solid black;
}
